// Primary Colors
$darkgrey: #323232;
$silver: #afafaf;
$white: #fff;

// Secondary Colors
$black: #000;
$mercury: #e1e1e1;
$alabaster: #fafafa;

$desktop-breakpoint: 320px;
$tablet-breakpoint: 1000px;


// Linked Sizes

