@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
* {
  font-family: "Avenir Next";
}

html {
  font-size: 100%;
}

p,
body,
h1,
h2,
h3,
span,
html {
  padding: 0;
  margin: 0;
}

.nav {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav a,
.nav a:visited,
.nav a:hover {
  text-decoration: none;
  color: #fff;
}
.nav__logo-container {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  padding: 1rem 0 1rem;
}
.nav__site {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 0.8rem;
  text-decoration: none;
  color: #fff;
}
.nav__site-link {
  width: 50vw;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  border-bottom: 0.2rem solid #323232;
}
.nav__site-link:hover, .nav__site-linkactive {
  border-bottom: 0.2rem solid #fff;
  font-weight: 600;
}

.hero {
  width: 100vw;
  height: 11.5rem;
  position: relative;
}
.hero img {
  width: 100vw;
  height: 11.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
.hero__overlay {
  width: 100vw;
  height: 11.5rem;
  position: absolute;
  background-color: #323232;
  opacity: 0.5;
}
.hero__title {
  width: 100vw;
  height: 11.5rem;
  position: absolute;
  display: flex;
  align-items: center;
}
.hero__header {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  z-index: 5;
}

.about,
.gallery,
.footer {
  padding: 1rem;
}

.heading {
  color: #323232;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.5rem 0 0;
}

.about__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0.7rem 0;
}
.about__review, .about__reviewer {
  display: block;
  padding: 0.17rem 0;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: #323232;
  line-height: 1.5;
}
.about__band-name {
  font-size: 0.9rem;
  font-weight: 400;
  color: #000;
  padding: 1.5rem 0 0.5rem;
}
.about__paragraph {
  padding: 0.7rem 0;
  font-size: 0.83rem;
  line-height: 1.2rem;
  color: #323232;
}

.gallery {
  background-color: #fafafa;
}
.gallery__grid {
  display: flex;
  flex-direction: column;
}
.gallery img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 60%;
  padding: 0.7rem 0;
}
.gallery img:last-of-type {
  padding: 0.7rem 0 0;
}

.footer {
  background-color: #323232;
  color: #fff;
}
.footer__header-text {
  font-size: 1.7rem;
  font-weight: 600;
  padding: 1.3rem 0;
}
.footer__header-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 9rem;
  padding: 0 0 2rem;
}
.footer__header-social img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 1.8rem;
  height: 1.8rem;
}
.footer__bandsite {
  font-size: 2rem;
  padding: 3rem 0 1.5rem;
}
.footer__bandsite a,
.footer__bandsite a:hover,
.footer__bandsite a:visited,
.footer__bandsite a:active {
  color: #fff;
  text-decoration: none;
}
.footer__bandsite-tablet {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__bandsite-tablet {
    display: initial;
  }
}
.footer__card {
  line-height: 1.4rem;
  font-size: 0.9rem;
}
.footer__card-container {
  display: flex;
  flex-direction: column;
}
.footer__card-name, .footer__card-address, .footer__card-email {
  padding-bottom: 1.2rem;
}
.footer__card-name {
  font-weight: 600;
  padding-top: 0.5rem;
}
.footer__card-address, .footer__card-email {
  font-weight: 400;
}
.footer__copyright {
  font-size: 0.73rem;
  padding-bottom: 0.7rem;
}

.footer__bandsite-logo img {
  padding: 3rem 0 1rem;
  width: 120px;
}/*# sourceMappingURL=bio.css.map */