@use "./partials/variables" as *;
@use "./partials/mixins" as *;

@import "./global";

//Nav Bar

.nav {
  background-color: $darkgrey;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    flex-direction: row;
  }

  a,
  a:visited,
  a:hover {
    text-decoration: none;
    color: $white;
  }

  &__logo {
    &-container {
      display: flex;
      justify-content: center;
      text-decoration: none;
      color: $white;
      padding: 1rem 0 1rem;

      @include tablet {
        padding: 0 4rem 0 2.2rem;
      }

      @include desktop {
        padding: 0 4rem 0 6.5rem;
      }
    }
  }

  &__site {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 0.8rem;
    text-decoration: none;
    color: $white;

    @include tablet {
      justify-content: flex-start;
      gap: 3.5rem;
      margin-top: 0.2rem;
    }

    @include desktop {
      margin-top: 0.65rem;
      gap: 2.5rem;
    }

    &-link {
      width: 50vw;
      height: 1.5rem;
      display: flex;
      justify-content: center;
      border-bottom: 0.2rem solid $darkgrey;

      @include desktop {
        border-bottom: 0.25rem solid $darkgrey;
      }

      @include tablet {
        align-items: center;
      }

      @include tablet {
        height: 4rem;
        width: auto;
      }

      @include desktop {
        height: 4.8rem;
      }

      &:hover,
      &active {
        border-bottom: 0.2rem solid $white;
        font-weight: 600;

        @include desktop {
          border-bottom: 0.25rem solid $white;
        }
      }
    }
  }
}

//Hero

.hero {
  @include heroSize;
  position: relative;

  img {
    @include heroSize;
    object-fit: cover;
    position: absolute;
  }

  &__overlay {
    @include heroSize;
    position: absolute;
    background-color: $darkgrey;
    opacity: 0.5;
  }

  &__title {
    @include heroSize;
    position: absolute;
    display: flex;
    align-items: center;
  }

  &__header {
    padding-left: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: $white;
    z-index: 5;

    @include tablet {
      padding-left: 2rem;
      font-size: 3.8rem;
    }

    @include desktop {
      padding-left: 7rem;
    }
  }
}

//Main

.about,
.gallery,
.footer {
  padding: 1rem;

  @include tablet {
    padding: 2.7rem;
  }

  @include desktop {
    padding: 3rem 7rem;
  }
}

.heading {
  color: $darkgrey;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.5rem 0 0;

  @include tablet {
    font-size: 2.2rem;
  }
}

.about {
  &__content {
    @include tablet {
      width: 37rem;
      margin: auto;
    }

    @include desktop {
      width: 55rem;
      margin: auto;
    }
  }

  &__img {
    width: 100%;
    height: 50vw;
    object-fit: cover;
    object-position: bottom;
    margin: 0.7rem 0;

    @include tablet {
      height: 17rem;
      object-position: 0 -7rem;
      margin: 2rem 0;
    }

    @include desktop {
      height: 28rem;
      object-position: 0 -7rem;
      margin: 2rem 0;
    }
  }

  &__review,
  &__reviewer {
    display: block;
    padding: 0.17rem 0;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.375rem;
    color: $darkgrey;
    line-height: 1.5;

    @include tablet {
      padding-bottom: 1rem;
    }
  }

  &__review {
    @include tablet {
      font-size: 1.4rem;
    }

    @include tablet {
      width: 42rem;
      padding-bottom: 0.8rem;
    }
  }

  &__reviewer {
    @include desktop {
      padding-bottom: 2rem;
    }
  }

  &__band-name {
    font-size: 0.9rem;
    font-weight: 400;
    color: $black;
    padding: 1.5rem 0 0.5rem;

    @include tablet {
      font-size: 1.4rem;
      font-weight: 600;
    }
  }

  &__history-container {
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__paragraph {
    padding: 0.7rem 0;
    font-size: 0.83rem;
    line-height: 1.2rem;
    color: $darkgrey;

    @include tablet {
      width: 17.5rem;
      font-size: 0.9rem;
      line-height: 1.4rem;
    }
    @include desktop {
      padding: 1.5rem 0 0;
      width: 26.5rem;
      line-height: 1.4rem;
    }
  }
}

// Gallery

.gallery {
  background-color: $alabaster;

  @include tablet {
    padding-bottom: 2rem;
  }

  &__grid {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @include desktop {
      padding-top: 2rem;
    }
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 60%;
    padding: 0.7rem 0;

    @include tablet {
      width: 27.5vw;
      justify-content: space-between;
    }

    @include desktop {
      width: 26vw;
      padding: 0.6rem 0;
    }

    &:last-of-type {
      padding: 0.7rem 0 0;
    }
  }
}

// Footer

.footer {
  background-color: $darkgrey;
  color: $white;

  &__header {
    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 2rem;
      gap: 2rem;

      div:last-child {
        margin-left: auto;
      }
    }

    &-text {
      font-size: 1.7rem;
      font-weight: 600;
      padding: 1.3rem 0;

      @include tablet {
        padding: 0;
        font-size: 2.3rem;
      }
    }

    &-social {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 9rem;
      padding: 0 0 2rem;

      @include tablet {
        padding: 0;
        align-items: center;
      }

      img {
        object-fit: contain;
        width: 1.8rem;
        height: 1.8rem;

        @include tablet {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }

  &__bandsite {
    padding: 3rem 0 1rem;

    &-logo {
      width: 120px;
    }

    &-tablet {
      display: none;
      @include tablet {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
      }
    }

    &-mobile {
      @include tablet {
        display: none;
      }
    }
  }

  &__card {
    line-height: 1.4rem;
    font-size: 0.9rem;

    &-container {
      display: flex;
      flex-direction: column;

      @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 3rem;
      }

      @include desktop {
        justify-content: flex-start;
        gap: 5rem;
        padding-bottom: 2rem;
      }
    }

    &-name,
    &-address,
    &-email {
      padding-bottom: 1.2rem;
    }

    &-name {
      font-weight: 600;
      padding-top: 0.5rem;
    }

    &-address,
    &-email {
      font-weight: 400;
    }
  }
  &__copyright {
    font-size: 0.73rem;
    padding-bottom: 0.7rem;

    @include tablet {
      font-size: 0.9rem;
    }
  }
}
