@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
* {
  font-family: "Avenir Next";
}

html {
  font-size: 100%;
}

p,
body,
h1,
h2,
h3,
span,
html {
  padding: 0;
  margin: 0;
}

.nav {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
  }
}
.nav a,
.nav a:visited,
.nav a:hover {
  text-decoration: none;
  color: #fff;
}
.nav__logo {
  width: 7.5rem;
}
.nav__logo-container {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  padding: 1rem 0 1rem;
}
@media only screen and (min-width: 768px) {
  .nav__logo-container {
    padding: 0 4rem 0 2.2rem;
  }
}
@media only screen and (min-width: 1280px) {
  .nav__logo-container {
    padding: 0 4rem 0 6.5rem;
  }
}
.nav__site {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  width: 100%;
  font-size: 0.8rem;
  text-decoration: none;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .nav__site {
    justify-content: flex-start;
    gap: 3.5rem;
    margin-top: 0.2rem;
  }
}
@media only screen and (min-width: 1280px) {
  .nav__site {
    margin-top: 0.65rem;
    gap: 2.5rem;
  }
}
.nav__site-link {
  box-sizing: border-box;
  width: 50vw;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  border-bottom: 0.2rem solid #323232;
}
@media only screen and (min-width: 1280px) {
  .nav__site-link {
    border-bottom: 0.25rem solid #323232;
  }
}
@media only screen and (min-width: 768px) {
  .nav__site-link {
    align-items: center;
  }
}
@media only screen and (min-width: 768px) {
  .nav__site-link {
    height: 4rem;
    width: auto;
  }
}
@media only screen and (min-width: 1280px) {
  .nav__site-link {
    height: 4.8rem;
  }
}
.nav__site-link:hover, .nav__site-linkactive {
  border-bottom: 0.2rem solid #fff;
  font-weight: 600;
}
@media only screen and (min-width: 1280px) {
  .nav__site-link:hover, .nav__site-linkactive {
    border-bottom: 0.25rem solid #fff;
  }
}

.footer {
  background-color: #323232;
  color: #fff;
  padding: 1rem;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 2.7rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer {
    padding: 3rem 7rem;
  }
}
.footer a,
.footer a:visited,
.footer a:hover {
  text-decoration: none;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .footer__header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    gap: 2rem;
  }
  .footer__header div:last-child {
    margin-left: auto;
  }
}
.footer__header-text {
  font-size: 1.7rem;
  font-weight: 600;
  padding: 1.3rem 0;
}
@media only screen and (min-width: 768px) {
  .footer__header-text {
    padding: 0;
    font-size: 2.3rem;
  }
}
.footer__header-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 9rem;
  padding: 0 0 2rem;
}
@media only screen and (min-width: 768px) {
  .footer__header-social {
    padding: 0;
    align-items: center;
  }
}
.footer__header-social img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 1.8rem;
  height: 1.8rem;
}
@media only screen and (min-width: 768px) {
  .footer__header-social img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.footer__bandsite {
  padding: 3rem 0 1rem;
}
.footer__bandsite-logo {
  width: 7.5rem;
}
.footer__bandsite-tablet {
  display: none;
}
@media only screen and (min-width: 768px) {
  .footer__bandsite-tablet {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }
}
@media only screen and (min-width: 768px) {
  .footer__bandsite-mobile {
    display: none;
  }
}
.footer__card {
  line-height: 1.4rem;
  font-size: 0.9rem;
}
.footer__card-container {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .footer__card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__card-container {
    justify-content: flex-start;
    gap: 5rem;
    padding-bottom: 2rem;
  }
}
.footer__card-name, .footer__card-address, .footer__card-email {
  padding-bottom: 1.2rem;
}
.footer__card-name {
  font-weight: 600;
  padding-top: 0.5rem;
}
.footer__card-address, .footer__card-email {
  font-weight: 400;
}
.footer__copyright {
  font-size: 0.73rem;
  padding-bottom: 0.7rem;
}
@media only screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 0.9rem;
  }
}

.hero {
  width: 100%;
  height: 11.5rem;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .hero {
    height: 28rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero {
    height: 38rem;
  }
}
.hero img {
  width: 100%;
  height: 11.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
@media only screen and (min-width: 768px) {
  .hero img {
    height: 28rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero img {
    height: 38rem;
  }
}
.hero__overlay {
  width: 100%;
  height: 11.5rem;
  position: absolute;
  background-color: #323232;
  opacity: 0.5;
}
@media only screen and (min-width: 768px) {
  .hero__overlay {
    height: 28rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__overlay {
    height: 38rem;
  }
}
.hero__title {
  width: 100%;
  height: 11.5rem;
  position: absolute;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .hero__title {
    height: 28rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__title {
    height: 38rem;
  }
}
.hero__header {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  z-index: 5;
}
@media only screen and (min-width: 768px) {
  .hero__header {
    padding-left: 2rem;
    font-size: 3.8rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__header {
    padding-left: 7rem;
  }
}

.about,
.gallery,
.comments {
  padding: 1rem;
}
@media only screen and (min-width: 768px) {
  .about,
  .gallery,
  .comments {
    padding: 2.7rem;
  }
}
@media only screen and (min-width: 1280px) {
  .about,
  .gallery,
  .comments {
    padding: 3rem 7rem;
  }
}

.heading {
  color: #323232;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.5rem 0 0;
}
@media only screen and (min-width: 768px) {
  .heading {
    font-size: 2.2rem;
  }
}

@media only screen and (min-width: 768px) {
  .about__content {
    width: 37rem;
    margin: auto;
  }
}
@media only screen and (min-width: 1280px) {
  .about__content {
    width: 55rem;
    margin: auto;
  }
}
.about__img {
  width: 100%;
  height: 50vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  margin: 0.7rem 0;
}
@media only screen and (min-width: 768px) {
  .about__img {
    height: 17rem;
    -o-object-position: 0 -7rem;
       object-position: 0 -7rem;
    margin: 2rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .about__img {
    height: 28rem;
    -o-object-position: 0 -7rem;
       object-position: 0 -7rem;
    margin: 2rem 0;
  }
}
.about__review, .about__reviewer {
  display: block;
  padding: 0.17rem 0;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: #323232;
  line-height: 1.5;
}
@media only screen and (min-width: 768px) {
  .about__review, .about__reviewer {
    padding-bottom: 1rem;
  }
}
@media only screen and (min-width: 768px) {
  .about__review {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 768px) {
  .about__review {
    width: 100%;
    padding-bottom: 0.8rem;
  }
}
@media only screen and (min-width: 1280px) {
  .about__reviewer {
    padding-bottom: 2rem;
  }
}
.about__band-name {
  font-size: 0.9rem;
  font-weight: 400;
  color: #000;
  padding: 1.5rem 0 0.5rem;
}
@media only screen and (min-width: 768px) {
  .about__band-name {
    font-size: 1.4rem;
    font-weight: 600;
  }
}
@media only screen and (min-width: 768px) {
  .about__history-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.about__paragraph {
  padding: 0.7rem 0;
  font-size: 0.83rem;
  line-height: 1.2rem;
  color: #323232;
}
@media only screen and (min-width: 768px) {
  .about__paragraph {
    width: 17.5rem;
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}
@media only screen and (min-width: 1280px) {
  .about__paragraph {
    padding: 1.5rem 0 0;
    width: 26.5rem;
    line-height: 1.4rem;
  }
}

.gallery {
  background-color: #fafafa;
}
@media only screen and (min-width: 768px) {
  .gallery {
    padding-bottom: 2rem;
  }
}
.gallery__grid {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
  .gallery__grid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
  }
}
@media only screen and (min-width: 768px) {
  .gallery__grid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1280px) {
  .gallery__grid {
    padding-top: 2rem;
  }
}
.gallery img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 60%;
  padding: 0.7rem 0;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}
.gallery img:hover {
  filter: grayscale(0%);
  transition: filter 0.3s ease-in-out;
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
  .gallery img {
    padding: 0;
    width: 30vw;
    flex-grow: 1;
  }
}
@media only screen and (min-width: 768px) {
  .gallery img {
    width: 27.5vw;
  }
}
@media only screen and (min-width: 1280px) {
  .gallery img {
    width: 26vw;
    padding: 0.6rem 0;
  }
}
.gallery img:last-of-type {
  padding: 0.7rem 0 0;
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
  .gallery img:last-of-type {
    padding: 0;
  }
}

@media only screen and (min-width: 500px) and (max-width: 767px) {
  .grow {
    flex-basis: 30rem;
  }
}

.comments__content {
  margin-top: 1.2rem;
}
@media only screen and (min-width: 768px) {
  .comments__content {
    width: 37rem;
    margin: auto;
  }
}
@media only screen and (min-width: 1280px) {
  .comments__content {
    width: 32rem;
    margin: 2rem auto;
  }
}
.comments__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  .comments__form {
    margin-top: 2.5rem;
  }
}
.comments__form-photo img {
  width: 2.8rem;
  height: 2.8rem;
  margin-top: 0.9rem;
  margin-right: 1.2rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: -0.2rem;
     object-position: -0.2rem;
  border-radius: 50%;
}
.comments__form-content {
  width: 100%;
}
.comments__form-content label {
  font-size: 0.7rem;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  color: #afafaf;
  padding-bottom: 0.125rem;
}
@media only screen and (min-width: 500px) {
  .comments__form-buttonContainer {
    margin-left: auto;
  }
}
@media only screen and (min-width: 500px) {
  .comments form {
    display: flex;
    flex-direction: column;
  }
}
.commentsField {
  box-sizing: border-box;
  display: block;
  width: 100%;
  background-color: #fafafa;
  border: 0.12rem solid #e1e1e1;
  border-radius: 0.25rem;
  outline: none;
  padding: 0.7rem 0.7rem;
  margin-bottom: 1.3rem;
  color: #000;
  resize: none;
}
.commentsField::-moz-placeholder {
  color: #000;
}
.commentsField::placeholder {
  color: #000;
}
.commentsField:focus {
  border-color: #323232;
}
@media only screen and (min-width: 768px) {
  .commentsField {
    min-height: 3rem;
  }
}
.commentsField--comment {
  height: 7rem;
}
.comments__button {
  height: 2.5rem;
  min-width: 9.375rem;
  width: 100%;
  background-color: #323232;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.3rem;
}
.comments__button:hover {
  background-color: #000;
}
@media only screen and (min-width: 500px) {
  .comments__button {
    width: 9.5rem;
    margin-left: auto;
  }
}
.comments__comment-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.2rem 0;
  width: 100%;
  border-top: 0.12rem solid #e1e1e1;
}
.comments__comment-card:last-of-type {
  border-bottom: 0.12rem solid #e1e1e1;
}
.comments__comment-photo {
  background-color: #e1e1e1;
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  margin-right: 1.2rem;
  flex-shrink: 0;
}
.comments__comment-content {
  width: 100%;
  font-size: 0.9rem;
  line-height: 1.3rem;
}
.comments__comment-comment {
  padding-top: 0.5rem;
}
.comments__comment-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.comments__comment-header-name {
  font-weight: 600;
  color: #323232;
}
.comments__comment-header-date {
  color: #afafaf;
}/*# sourceMappingURL=bio.css.map */