@use "./partials/variables" as *;
@use "./partials/mixins" as *;

@import "./global";

//Nav Bar

.nav {
  background-color: $darkgrey;
  display: flex;
  flex-direction: column;
  align-items: center;

  a,
  a:visited,
  a:hover {
    text-decoration: none;
    color: $white;
  }

  &__logo {
    &-container {
      display: flex;
      justify-content: center;
      text-decoration: none;
      color: $white;
      padding: 1rem 0 1rem;
    }
  }

  &__site {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 0.8rem;
    text-decoration: none;
    color: $white;

    &-link {
      width: 50vw;
      height: 1.5rem;
      display: flex;
      justify-content: center;
      border-bottom: 0.2rem solid $darkgrey;

      &:hover,
      &active {
        border-bottom: 0.2rem solid $white;
        font-weight: 600;
      }
    }
  }
}

//Hero

.hero {
  @include heroSize;
  position: relative;

  img {
    @include heroSize;
    object-fit: cover;
    position: absolute;
  }

  &__overlay {
    @include heroSize;
    position: absolute;
    background-color: $darkgrey;
    opacity: 0.5;
  }

  &__title {
    @include heroSize;
    position: absolute;
    display: flex;
    align-items: center;
  }

  &__header {
    padding-left: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: $white;
    z-index: 5;
  }
}

//Main

.about,
.gallery,
.footer {
  padding: 1rem;
}

.heading {
  color: $darkgrey;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.5rem 0 0;
}

.about {
  &__img {
    width: 100%;
    object-fit: cover;
    margin: 0.7rem 0;
  }

  &__review,
  &__reviewer {
    display: block;
    padding: 0.17rem 0;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.375rem;
    color: $darkgrey;
    line-height: 1.5;
  }

  &__band-name {
    font-size: 0.9rem;
    font-weight: 400;
    color: $black;
    padding: 1.5rem 0 0.5rem;
  }

  &__paragraph {
    padding: 0.7rem 0;
    font-size: 0.83rem;
    line-height: 1.2rem;
    color: $darkgrey;
  }
}

// Gallery

.gallery {
  background-color: $alabaster;

  &__grid {
    display: flex;
    flex-direction: column;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 60%;
    padding: 0.7rem 0;

    &:last-of-type {
      padding: 0.7rem 0 0;
    }
  }
}

// Footer

.footer {
  background-color: $darkgrey;
  color: $white;

  &__header {
    &-text {
      font-size: 1.7rem;
      font-weight: 600;
      padding: 1.3rem 0;
    }

    &-social {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 9rem;
      padding: 0 0 2rem;

      img {
        object-fit: contain;
        width: 1.8rem;
        height: 1.8rem;
      }
    }
  }

  &__bandsite {
    font-size: 2rem;
    padding: 3rem 0 1.5rem;

    a,
    a:hover,
    a:visited,
    a:active {
      color: $white;
      text-decoration: none;
    }

    &-tablet {
      display: none;
      @include tablet {
        display: initial;
      }
    }
  }

  &__card {
    line-height: 1.4rem;
    font-size: 0.9rem;

    &-container {
      display: flex;
      flex-direction: column;
    }

    &-name,
    &-address,
    &-email {
      padding-bottom: 1.2rem;
    }

    &-name {
      font-weight: 600;
      padding-top: 0.5rem;
    }

    &-address,
    &-email {
      font-weight: 400;
    }
  }
  &__copyright {
    font-size: 0.73rem;
    padding-bottom: 0.7rem;
  }
}

.footer__bandsite-logo img {
  padding: 3rem 0 1rem;

  width: 120px;
}
