@use "./partials/variables" as *;
@use "./partials/mixins" as *;

@import "./global";

//Hero

.hero {
  @include hero-size--shows;
  position: relative;

  img {
    @include hero-size--shows;
    object-fit: cover;
    position: absolute;
  }

  &__overlay {
    @include hero-size--shows;
    position: absolute;
    background-color: $darkgrey;
    opacity: 0.5;
  }

  &__title {
    @include hero-size--shows;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
  }

  &__container {
    @include desktop {
      display: flex;
      flex-direction: column;
    }
  }

  &__header {
    &--album {
      padding: 3rem 0 1.3rem 1rem;
      font-size: 0.9rem;
      font-weight: 400;
      color: $white;
      z-index: 5;

      @include media-size(700px) {
        padding-left: 2rem;
        font-size: 1.5rem;
        font-weight: 600;
      }

      @include desktop {
        padding: 0 0 2rem;
      }
    }

    padding-left: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: $white;
    z-index: 5;
    padding-bottom: 0.2rem;

    &:last-of-type {
      padding-bottom: 1rem;
    }

    @include media-size(700px) {
      padding-left: 2rem;
      font-size: 3.8rem;
    }

    @include desktop {
      padding: 0;
    }
  }

  &__iframe {
    margin: 0 auto;
    height: 7.5rem;
    width: 90%;

    @include media-size(700px) {
      width: 50%;
      height: 9rem;
      margin: 1rem 0 2rem 2rem;
    }

    @include desktop {
      width: 25%;
      height: 7.5rem;
      margin: 5rem 0 2rem 8rem;
    }
  }
}

//Main

.heading {
  color: $black;
  font-weight: 600;
  font-size: 1.5rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;

  @include media-size(700px) {
    font-size: 2.2rem;
    padding: 1.5rem 0 1.5rem 0.5rem;
  }

  @include desktop {
    margin-right: auto;
    // position: absolute;
    right: 50rem;
  }
}

.shows {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;

  @include media-size(700px) {
    padding: 2.7rem;
  }

  @include desktop {
    padding: 3rem 7rem;
    position: relative;
    align-items: flex-end;
  }

  .tour-row {
    @include media-size(700px) {
      display: flex;
      flex-direction: row;
    }
    @include desktop {
      position: relative;
      top: -2rem;
    }

    &:hover {
      background-color: $alabaster;
    }
  }

  .top-row {
    display: none;

    @include media-size(700px) {
      display: initial;
      display: flex;
      flex-direction: row;
    }
    @include desktop {
      position: relative;
      top: -2rem;
    }
  }

  .active {
    background-color: $mercury;
  }

  .date-column,
  .venue-column,
  .location-column,
  .button-column {
    @include media-size(700px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 10rem;
      margin: auto;
    }

    @include desktop {
      width: 9rem;
      padding: 0 2rem;
    }
  }

  .date-header,
  .venue-header,
  .location-header {
    padding-left: 1.5rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 600;
    color: $silver;
    padding-bottom: 0.5rem;

    @include media-size(700px) {
      padding: 0;
      display: none;
    }
  }

  .date-header {
    padding-top: 1.2rem;

    @include media-size(700px) {
      padding: 0;
    }
  }

  .button-header {
    display: none;
  }

  .date,
  .venue,
  .location {
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    @include media-size(700px) {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 5rem;
    }
  }

  .date {
    font-weight: 600;
    color: $darkgrey;
  }

  .venue,
  .location {
    font-size: 0.9rem;
  }

  .button {
    padding-bottom: 1rem;
    @include media-size(700px) {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 5rem;
    }
  }

  .show {
    @include media-size(700px) {
      display: initial;
      padding: 0;
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 1rem;
  margin: auto;

  button {
    width: 87%;
    height: 2.5rem;
    color: $white;
    font-size: 1rem;
    font-weight: 600;
    background-color: $darkgrey;
    outline: none;
    border: 0.01rem solid $black;
    border-radius: 0.25rem;

    &:hover {
      background-color: $black;
      cursor: pointer;
    }
  }
}

.tour-row {
  border-bottom: 0.15rem solid $mercury;

  &:hover {
    cursor: pointer;
  }
}
