@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
* {
  font-family: "Avenir Next";
}

html {
  font-size: 100%;
}

p,
body,
h1,
h2,
h3,
span,
html {
  padding: 0;
  margin: 0;
}

.nav {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
  }
}
.nav a,
.nav a:visited,
.nav a:hover {
  text-decoration: none;
  color: #fff;
}
.nav__logo {
  width: 7.5rem;
}
.nav__logo-container {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  padding: 1rem 0 1rem;
}
@media only screen and (min-width: 768px) {
  .nav__logo-container {
    padding: 0 4rem 0 2.2rem;
  }
}
@media only screen and (min-width: 1280px) {
  .nav__logo-container {
    padding: 0 4rem 0 6.5rem;
  }
}
.nav__site {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  width: 100%;
  font-size: 0.8rem;
  text-decoration: none;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .nav__site {
    justify-content: flex-start;
    gap: 3.5rem;
    margin-top: 0.2rem;
  }
}
@media only screen and (min-width: 1280px) {
  .nav__site {
    margin-top: 0.65rem;
    gap: 2.5rem;
  }
}
.nav__site-link {
  color: #e1e1e1;
  box-sizing: border-box;
  width: 50vw;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  border-bottom: 0.2rem solid #323232;
}
@media only screen and (min-width: 1280px) {
  .nav__site-link {
    border-bottom: 0.25rem solid #323232;
  }
}
@media only screen and (min-width: 768px) {
  .nav__site-link {
    align-items: center;
  }
}
@media only screen and (min-width: 768px) {
  .nav__site-link {
    height: 4rem;
    width: auto;
  }
}
@media only screen and (min-width: 1280px) {
  .nav__site-link {
    height: 4.8rem;
  }
}
.nav__site-link:hover {
  border-bottom: 0.2rem solid #fff;
  font-weight: 400;
  color: #fff;
}
@media only screen and (min-width: 1280px) {
  .nav__site-link:hover {
    border-bottom: 0.25rem solid #fff;
  }
}
.nav__site-linkactive {
  border-bottom: 0.2rem solid #fff;
  font-weight: 600;
  color: #fff;
}
.nav__site-linkactive:hover {
  border-bottom: 0.2rem solid #fff;
  font-weight: 600;
  color: #fff;
}
@media only screen and (min-width: 1280px) {
  .nav__site-linkactive:hover {
    border-bottom: 0.2rem solid #fff;
  }
}

.footer {
  background-color: #323232;
  color: #fff;
  padding: 1rem;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 2.7rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer {
    padding: 3rem 7rem;
  }
}
.footer a,
.footer a:visited,
.footer a:hover {
  text-decoration: none;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .footer__header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    gap: 2rem;
  }
  .footer__header div:last-child {
    margin-left: auto;
  }
}
.footer__header-text {
  font-size: 1.7rem;
  font-weight: 600;
  padding: 1.3rem 0;
}
@media only screen and (min-width: 768px) {
  .footer__header-text {
    padding: 0;
    font-size: 2.3rem;
  }
}
.footer__header-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 9rem;
  padding: 0 0 2rem;
}
@media only screen and (min-width: 768px) {
  .footer__header-social {
    padding: 0;
    align-items: center;
  }
}
.footer__header-social img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 1.8rem;
  height: 1.8rem;
}
@media only screen and (min-width: 768px) {
  .footer__header-social img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.footer__bandsite {
  padding: 3rem 0 1rem;
}
.footer__bandsite-logo {
  width: 7.5rem;
}
.footer__bandsite-tablet {
  display: none;
}
@media only screen and (min-width: 768px) {
  .footer__bandsite-tablet {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }
}
@media only screen and (min-width: 768px) {
  .footer__bandsite-mobile {
    display: none;
  }
}
.footer__card {
  line-height: 1.4rem;
  font-size: 0.9rem;
}
.footer__card-container {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .footer__card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__card-container {
    justify-content: flex-start;
    gap: 5rem;
    padding-bottom: 2rem;
  }
}
.footer__card-name, .footer__card-address, .footer__card-email {
  padding-bottom: 1.2rem;
}
.footer__card-name {
  font-weight: 600;
  padding-top: 0.5rem;
}
.footer__card-address, .footer__card-email {
  font-weight: 400;
}
.footer__copyright {
  font-size: 0.73rem;
  padding-bottom: 0.7rem;
}
@media only screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 0.9rem;
  }
}

.hero {
  width: 100%;
  height: 20rem;
  position: relative;
}
@media only screen and (min-width: 700px) {
  .hero {
    height: 30rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero {
    height: 38rem;
  }
}
.hero img {
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  -o-object-position: 0 -8rem;
     object-position: 0 -8rem;
}
@media only screen and (min-width: 700px) {
  .hero img {
    height: 30rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero img {
    height: 38rem;
  }
}
.hero__overlay {
  width: 100%;
  height: 20rem;
  position: absolute;
  background-color: #323232;
  opacity: 0.5;
}
@media only screen and (min-width: 700px) {
  .hero__overlay {
    height: 30rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__overlay {
    height: 38rem;
  }
}
.hero__title {
  width: 100%;
  height: 20rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media only screen and (min-width: 700px) {
  .hero__title {
    height: 30rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__title {
    height: 38rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__container {
    display: flex;
    flex-direction: column;
  }
}
.hero__header {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  z-index: 5;
  padding-bottom: 0.2rem;
}
.hero__header--album {
  padding: 3rem 0 1.3rem 1rem;
  font-size: 0.9rem;
  font-weight: 400;
  color: #fff;
  z-index: 5;
}
@media only screen and (min-width: 700px) {
  .hero__header--album {
    padding-left: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__header--album {
    padding: 0 0 2rem;
  }
}
.hero__header:last-of-type {
  padding-bottom: 1rem;
}
@media only screen and (min-width: 700px) {
  .hero__header {
    padding-left: 2rem;
    font-size: 3.8rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__header {
    padding: 0;
  }
}
.hero__iframe {
  margin: 0 auto;
  height: 7.5rem;
  width: 90%;
}
@media only screen and (min-width: 700px) {
  .hero__iframe {
    width: 50%;
    height: 9rem;
    margin: 1rem 0 2rem 2rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__iframe {
    width: 25%;
    height: 7.5rem;
    margin: 5rem 0 2rem 8rem;
  }
}

.shows {
  padding: 1rem 0;
}
@media only screen and (min-width: 700px) {
  .shows {
    padding: 2.7rem;
  }
}
@media only screen and (min-width: 1280px) {
  .shows {
    padding: 3rem 7rem;
  }
}

.heading {
  color: #000;
  font-weight: 600;
  font-size: 1.5rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}
@media only screen and (min-width: 700px) {
  .heading {
    font-size: 2.2rem;
    padding: 1.5rem 0 1.5rem 0.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .heading {
    margin-right: auto;
    right: 50rem;
  }
}

.shows {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1280px) {
  .shows {
    position: relative;
    align-items: flex-end;
  }
}
@media only screen and (min-width: 700px) {
  .shows .tourRow {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1280px) {
  .shows .tourRow {
    position: relative;
    top: -2rem;
  }
}
.shows .tourRow:hover {
  background-color: #fafafa;
}
.shows .topRow {
  display: none;
}
@media only screen and (min-width: 700px) {
  .shows .topRow {
    display: initial;
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1280px) {
  .shows .topRow {
    position: relative;
    top: -2rem;
  }
}
.shows .active {
  background-color: #e1e1e1;
}
@media only screen and (min-width: 700px) {
  .shows .dateCol,
  .shows .venueCol,
  .shows .locationCol,
  .shows .buttonCol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 10rem;
    margin: auto;
  }
}
@media only screen and (min-width: 1280px) {
  .shows .dateCol,
  .shows .venueCol,
  .shows .locationCol,
  .shows .buttonCol {
    width: 9rem;
    padding: 0 2rem;
  }
}
.shows .dateHeader,
.shows .venueHeader,
.shows .locationHeader {
  padding-left: 1.5rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 600;
  color: #afafaf;
  padding-bottom: 0.5rem;
}
@media only screen and (min-width: 700px) {
  .shows .dateHeader,
  .shows .venueHeader,
  .shows .locationHeader {
    padding: 0;
    display: none;
  }
}
.shows .buttonHeader {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 600;
  color: #afafaf;
  padding-bottom: 0.5rem;
}
@media only screen and (min-width: 700px) {
  .shows .buttonHeader {
    padding: 0;
    display: none;
  }
}
.shows .date,
.shows .venue,
.shows .location {
  padding-left: 1.5rem;
  padding-bottom: 1rem;
}
@media only screen and (min-width: 700px) {
  .shows .date,
  .shows .venue,
  .shows .location {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5rem;
  }
}
.shows .button {
  padding-bottom: 1rem;
}
@media only screen and (min-width: 700px) {
  .shows .button {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5rem;
  }
}
.shows .date {
  font-weight: 600;
  color: #323232;
}
.shows .dateHeader {
  padding-top: 1.2rem;
}
@media only screen and (min-width: 700px) {
  .shows .dateHeader {
    padding: 0;
  }
}
.shows .venue,
.shows .location {
  font-size: 0.9rem;
}
@media only screen and (min-width: 700px) {
  .shows .show {
    display: initial;
    padding: 0;
  }
}

.buttonHeader {
  display: none;
}
@media only screen and (min-width: 700px) {
  .buttonHeader {
    display: initial;
    padding: 0;
  }
}

.button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 1rem;
  margin: auto;
}
.button button {
  width: 87%;
  height: 2.5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  background-color: #323232;
  outline: none;
  border: 0.01rem solid #000;
  border-radius: 0.25rem;
}
.button button:hover {
  background-color: #000;
  cursor: pointer;
}

.tourRow {
  border-bottom: 0.15rem solid #e1e1e1;
}
.tourRow:hover {
  cursor: pointer;
}

.topRow {
  border-bottom: 0.15rem solid #fff;
}

.buttonHeader {
  display: none;
}/*# sourceMappingURL=shows.css.map */