@use "./partials/variables" as *;
@use "./partials/mixins" as *;

@import "./global";

//Hero

.hero {
  @include heroSize--shows;
  position: relative;

  img {
    @include heroSize--shows;
    object-fit: cover;
    position: absolute;
  }

  &__overlay {
    @include heroSize--shows;
    position: absolute;
    background-color: $darkgrey;
    opacity: 0.5;
  }

  &__title {
    @include heroSize--shows;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__header {
    &--album {
      padding: 3rem 0 1.3rem 1rem;
      font-size: 0.9rem;
      font-weight: 400;
      color: $white;
      z-index: 5;
    }

    padding-left: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: $white;
    z-index: 5;
    padding-bottom: 0.2rem;

    &:last-of-type {
      padding-bottom: 1rem;
    }

    @include tablet {
      padding-left: 2rem;
      font-size: 3.8rem;
    }

    @include desktop {
      padding-left: 7rem;
    }
  }

  &__iframe {
    margin: 0 auto;
    height: 7.5rem;
    width: 90%;
  }
}

//Main

.shows {
  padding: 1rem 0;

  @include tablet {
    padding: 2.7rem;
  }

  @include desktop {
    padding: 3rem 7rem;
  }
}

.heading {
  color: $black;
  font-weight: 600;
  font-size: 1.5rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;

  @include tablet {
    font-size: 2.2rem;
  }
}

.shows {
  display: flex;
  flex-direction: column;

  .tourRow {
    &:hover {
      background-color: $alabaster;
    }
  }

  .active {
    background-color: $mercury;
  }


  .dateHeader,
  .venueHeader,
  .locationHeader,
  .buttonHeader {
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 600;
    color: $silver;
    padding-left: 1.5rem;
    padding-bottom: 0.5rem;
  }

  .date,
  .venue,
  .location {
    padding-left: 1.5rem;
    padding-bottom: 1rem;
  }

  .date {
    font-weight: 600;
    color: $darkgrey;
  }

  .dateHeader {
    padding-top: 1.2rem;
  }

  .venue,
  .location {
    font-size: 0.9rem;
  }
}

.buttonHeader {
  display: none;
  
}

.button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 1rem;
  margin: auto;

  button {
    width: 87%;
    height: 2.5rem;
    color: $white;
    font-size: 1rem;
    font-weight: 600;
    background-color: $darkgrey;
    outline: none;
    border: 0.01rem solid $black;
    border-radius: 0.25rem;
  }
}

.tourRow {
  border-bottom: 0.15rem solid $mercury;
}
